<div id="dataPanel">
  <div #map id="map">
  </div>
  <div class="dataPanelHeader">
    <ul>
      <li>
        <span>location: USA</span>
        <img src="assets/image/datapanel/arrow_drop_down_24px.png" alt="下滑图标">
      </li>
      <li></li>
      <li>
        <span>Nebraska</span>
        <img src="assets/image/datapanel/arrow_drop_down_24px.png" alt="下滑图标">
      </li>
      <li></li>
      <li>
        <span>OES</span>
        <img src="assets/image/datapanel/arrow_drop_down_24px.png" alt="下滑图标">
      </li>
      <li></li>
      <li>
        <span>
           OES Company
        </span>
        <img src="assets/image/datapanel/arrow_drop_down_24px.png" alt="下滑图标">
      </li>
      <li></li>
      <li>
        <span>
            Field 345
        </span>
        <img src="assets/image/datapanel/arrow_drop_down_24px.png" alt="下滑图标">
      </li>
      <li></li>
    </ul>
  </div>
  <div [ngClass]="['dataPanelAside', flag ? 'translateParent' : 'translateParent1']">
    <div class="AsideMain">
      <div class="AsideMainHeader">
        <div class="AsideMainHeaderGroup1">
          <div class="title">Field 345</div>
          <div class="AsideMainHeader-icon">
            <img src="assets/image/datapanel/more_horiz_24px.png" alt="more的图片">
            <img src="assets/image/datapanel/clear_24px.png" alt="clear的图片">
          </div>
        </div>
        <div class="AsideMainHeaderContent">
          AsideMainHeader
        </div>
      </div>
    </div>
    <div class = 'AsideIcon' (click) = 'onTransForm($event)'>
        <img [ngClass]=" flag ? 'transformIcon1':'transformIcon'" src="assets/image/datapanel/arrow_drop_down_24px.png" alt="icon图片">
    </div>
  </div>
  <div class="dataPanelImg">
    <img src="assets/image/datapanel/Ellipse%203.png" alt="Ellipse的图片">
    <img src="assets/image/datapanel/Vector%2012.png" alt="Vector的图片">
  </div>
  <app-aside></app-aside>
  <app-user-header></app-user-header>
</div>
