@mixin flexCenter{
  display: flex;
  align-items: center;
}
#dataPanel{
  width: 100vw;
  height: 100vh;
  .personalInfo{
    position: absolute;
    top: 52px;
    right: 24px;
    width: 270px;
    height: 214px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    @include flexCenter;
    flex-direction: column;
    >img{
      width: 80px;
      height: 80px;
      margin-top: 16px;
    }
    >h5{
      margin-top: 21px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    >p{
      margin-top: 6px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */
      color: rgba(0, 0, 0, 0.54);
    }
    >span{
      margin-top: 21px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */
      /* black-87% */
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
    }
  }
  #map{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .dataPanelHeader{
    position: fixed;
    top: 7px;
    right: 120px;
    width: 896px;
    height: 84px;
    background: url("../../../assets/image/datapanel/Rectangle 177.png") no-repeat center;
    ul{
      @include flexCenter;
      justify-content: space-around;
      list-style-type: none;
      line-height: 84px;
      li{
        @include flexCenter;
        justify-content: center;
        cursor: pointer;
        span{
          font-weight: 500;
          margin-right: 15px;
        }

      }
      li:nth-child(even){
        width: 1px;
        height: 20px;
        background: #dedede;
      }
    }
  }
  .dataPanelAside{
    position: absolute;
    transition: 1s;
    top: 0;
    left: 0;
    width: 528px;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    .top{
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .topIpt{
        position: relative;
        span{
          position: absolute;
          top: 25%;
          left: 10px;
        }
        input{
          width: 424px;
          height: 38px;
          text-indent: 30px;
          border-radius: 8px;
          border-color: rgb(222,222,222);
        }
      }
    }
    .AsideMainHeader{
      width: 100%;
      height: 98px;
      background: url("../../../assets/image/datapanel/Rectangle 163.png") no-repeat center;
      .AsideMainHeaderGroup1{
        @include flexCenter;
        justify-content: space-between;
        margin-top: 10px;
        .title{
          font-family: Google Sans;
          font-style: normal;
          font-weight: 500;
          font-size: 22px;
          line-height: 28px;
          color: rgba(0, 0, 0, 0.87);
          padding-left: 5px;
        }
        .AsideMainHeader-icon{
          @include flexCenter;
          justify-content: space-between;
          line-height: 28px;
          img{
            margin-right: 20px;
          }
        }
      }
      .AsideMainHeaderContent{
        font-family: Google Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: 3px;
        margin-bottom: 13px;
        padding-left: 5px;
      }
      .asideRoute{
        .asideRouteMain{
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          >div{
            cursor: pointer;
            display: flex;
            align-items: center;
            >img{
              margin-right: 10px;
            }
            >span{
              margin-right: 10px;
            }
          }
        }
        .active{
          color: #009CA6;
          border: none;
        }
      }
    }
    .AsideIcon{
      width: 23px;
      height: 58px;
      position: absolute;
      top: 80px;
      right: -23px;
      background: url("../../../assets/image/datapanel/Rectangle 3.png") no-repeat center;
      @include flexCenter;
      justify-content: center;
      cursor: pointer;
      img{
        transition: 1s;
        transform: rotate(90deg);
      }
    }
    .transformIconShow{
      transform: rotate(270deg) !important;
    }
    .transformIconHidden{
      transform: rotate(90deg) !important;
    }

  }
  .translateParentShow{
    transform: translateX(0) !important;
  }
  .translateParentHidden{
    transform: translateX(-100%) !important;
  }
  .dataPanelImg{
    position: fixed;
    top: 200px;
    right: 400px;
    display: flex;
    flex-direction: column;
    img{
      margin-top: 9px;
    }
  }

}
