@mixin flexCenter{
  display: flex;
  align-items: center;
}

#mapPolygons {
  width: 100vw;
  height: 100vh;
  background: #fff url("../../../assets/image/mapPolygon/bgImg1.png") no-repeat center/cover;
  position: relative;
  .personalInfo {
    position: absolute;
    top: 52px;
    right: 24px;
    width: 270px;
    height: 214px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    @include flexCenter;
    flex-direction: column;
    >img{
      width: 80px;
      height: 80px;
      margin-top: 16px;
    }
    >h5{
      margin-top: 21px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.87);
    }
    >p{
      margin-top: 6px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */
      color: rgba(0, 0, 0, 0.54);
    }
    >span{
      margin-top: 21px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      /* identical to box height */
      /* black-87% */
      color: rgba(0, 0, 0, 0.87);
      cursor: pointer;
    }
  }
}
