<div id="mapPolygons">
  <div class="imgHeader">
    <img src="assets/image/mapPolygon/user.png" alt="headerImg" width="32px" height="32px">
  </div>
  <div class="personalInfo">
    <img src="assets/image/mapPolygon/user.png" alt="headerInfoImg">
    <h5>Sherry Ferguson</h5>
    <p>SherryFerguson@gmail.com</p>
    <span>Log out</span>
  </div>
  <div class="asideInfo">
    <div class="threeD">
      <img src="assets/image/mapPolygon/3D.png" alt="3d的图片">
    </div>
    <div class="iconPath">
      <img src="assets/image/mapPolygon/place_24px.png" alt="icon图标">
    </div>
    <div class="asideInfoGroup1">
      <img src="assets/image/mapPolygon/+.png" alt="+的图片">
      <img src="assets/image/mapPolygon/Path%209.png" alt="path的图片">
      <img src="assets/image/mapPolygon/-.png" alt="-的图片">
    </div>
    <div class="asideInfoGroup2">
      <img src="assets/image/mapPolygon/layer.png" alt="layer的图片">
      <img src="assets/image/mapPolygon/left.png" alt="left的图片">
    </div>
  </div>
</div>
