.asideInfo{
  position: absolute;
  bottom: 104px;
  right: 20px;
  transform: translateX(-50%);
  width: 30px;
  height: 150px;
  .threeD{
    width: 29px;
    height: 29px;
    background-color: #fff;
    //background: #fff url("../../../assets/image/mapPolygon/Rectangle 2.png") no-repeat center/cover;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 2px 6px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iconPath{
    margin-top: 4px;
    width: 29px;
    height: 29px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 2px 6px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .asideInfoGroup1{
    margin-top: 4px;
    width: 29px;
    height: 57px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 2px 6px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .asideInfoGroup2{
    margin-top: 4px;
    width: 29px;
    height: 57px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 2px 6px rgba(60, 64, 67, 0.15);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
