#map{
  width: 100vw;
  height: 100vh;
  background: #fff url('../../../assets/image/login/bgImg.png') no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  #group{
    width: 704px;
    height: 748px;
    background-color: #fff;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14),
    0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filebrowser{
      width: 120px;
      height: 120px;
      margin-top: 68px;
      background: #fff url("../../../assets/image/login/logo.png") no-repeat scroll center/cover;
      border-radius: 50%;
    }
    .welcome{
      width: 446px;
      height: 44px;
      margin-top: 56px;
      font-family: Google Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: rgba(0, 0, 0, 0.87);
    }
    .group{
      width: 456px;
      margin-top: 76px;
      font-style: normal;
      font-weight: normal;
      line-height: 36px;
      font-size: 22px;
      text-align: center;
      letter-spacing: 0.15px;
      color: rgba(0, 0, 0, 0.6);
    }
    .Rectangle{
      width: 256px;
      height: 64px;
      margin-top: 72px;
      display: flex;
      align-items: center;
      background: url('../../../assets/image/login/Group.png') no-repeat scroll center/cover;
      cursor: pointer;
    }
  }
}
